@import-normalize;
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/font/eot/IRANSansWeb_Medium.eot");
  src: url("../assets/font/eot/IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/font/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
    url("../assets/font/woff/IRANSansWeb_Medium.woff") format("woff"),
    url("../assets/font/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: IRANSans !important;
  font-weight: 300;
  margin: 0;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button {
  font-family: IRANSans !important;
}
h1 {
  font-weight: bold;
  margin: 0px;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
del {
  color: red;
}
.slick-arrow {
  display: none !important;
}
.slick-list {
  padding-bottom: 15px !important;
}
